/* Variables ======================================================*/
:root{
    /* Fuentes ============================= */
    --fuentePrincipal: 'Playfair Display';

    /* Colores ============================= */
    --colorBlanco: #ffffff;
}

/* Margen para toda la pagian web ======================================================*/
.contenedorPrincipal{
    margin-top: 1%;
    margin-right: 5%;
    margin-left: 5%;
    height: 3rem;
}       

/* Centrado de la NavBar ======================================================*/
.navBar{
    display: flex;
    justify-content: center;
    background: transparent;
    padding-top: 1.5rem;
}

.linksNavbar{
    display: flex;
    background: transparent;
}
.linksNavbar a{
    margin: 1rem;
    text-decoration: none;
    font-family: var(--fuentePrincipal);
    color: var(--colorBlanco);
    font-size: 15px;
    letter-spacing: 0.1rem;
}
.linksNavbar a .primerLinkNavbar{
    text-decoration: solid;
    color: aqua;
}

/* Tamaño del logo de la navbar ======================================================*/
.imgLogo{
    width: 3rem;
}

.imagenDeFondoInicio{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.pexels.com/photos/6628601/pexels-photo-6628601.jpeg?cs=srgb&dl=pexels-koolshooters-6628601.jpg&fm=jpg);
    width: auto;
    min-height: 100vh;
}

/* Encabezado ======================================================*/
.encabezado{
    color: var(--colorBlanco);
    font-family: var(--fuentePrincipal);
    text-align: center;
    padding-top: 20vh;
    cursor: default;
}


    /* Titulo del encabezado =========================================== */
    
    .tituloEncabezado{
        font-size: 2.5rem;
    }
    .tituloEncabezado h1{
        margin-bottom: 0%;
        font-weight: 800;
        font-style: normal;
        text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
    }


    /* Subtitulo del encabezado ======================================== */

    .subtituloEncabezado{
        font-size: 0.9rem;
    }
    .subtituloEncabezado h2{
        font-weight: 600;
        letter-spacing: 0.15rem;
        text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
    }


/* Icono de scroll ======================================================*/

.iconoScroll{
    color: var(--colorBlanco);
    /* background-color: yellow; */
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 2vh;
    left: 50%;
}


/* Contenedor de la Descripcion ============================================= */

.contenedorPrincipalDescripcion{
    margin: 5rem 6.25rem 5rem 6.25rem;

}


